@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}